@import url(https://fonts.googleapis.com/css2?family=Gabriela&display=swap);
@import url(https://fonts.googleapis.com/css2?family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap);

body {
    color: rgb(14, 27, 23);
    background-color: #FFCDD4;
    font-family: 'Gabriela', serif;
    margin: 10px 10px;
}

figure {
    border: 3px #DCE5ED solid;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
}

figcaption {
    background-color: #DCE5ED;
    color: rgb(0, 0, 0);
    font-style: italic;
    padding: 2px;
    text-align: center;
}

#herkkuja {
    width: 100%;
    /*     max-width: 400px; */
}

.esittely {
    font-size: 20px;
    font-weight: bold;
}


header {
    text-align: center;
    padding-top: 10px;
    padding-bottom: 50px;
}

#slogan {
    margin-top: 160px; /* Lisätään 50 pikseliä tilaa yläpuolelle */
    margin-bottom: 30px; /* Lisätään 20 pikseliä tilaa alapuolelle */
    background-color: white; /* Asetetaan taustaväri valkoiseksi */
    display: block; /* Asetetaan elementti inline-blockiksi */
    padding: 10px 20px; /* Lisätään sisätilaa 10 pikseliä ylös/alas ja 20 pikseliä vasemmalle/oikealle */
    border-radius: 5px; /* Pyöristetään kulmat 5 pikseliin */
}

#toimintakehote {
    margin-top: 10px; /* Lisätään 20 pikseliä tilaa yläpuolelle */
    margin-bottom: 0px; /* Lisätään 50 pikseliä tilaa alapuolelle */
}

#sivuvalikko {
    float: left; /* Asetetaan sivuvalikko vasempaan laitaan */
    margin-right: 20px; /* Lisätään hieman tilaa oikealle puolelle */
}

/* fontit uusi maanantaina koodattu SHIT ALT A */

h1 {
    font-size: 60px;
    font-family: 'Lobster Two', sans-serif;
    color: #ffadb8 ;
    text-shadow: 2px 2px #000000;
}

nav a {
    background: #ffffff ;
    font-family: 'Gabriela', serif;
    color: rgb(0, 0, 0);
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(6, 2, 2);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

nav a:hover {
    color: rgb(0, 0, 0);
    background-color: rgb(255, 255, 255);
}

#valittu {
    color: rgb(21, 18, 18);
    background-color: #DCE5ED;
}


.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    font-family: 'Gabriela', serif;
    /* Kaksi saraketta */
    gap: 15px;
    padding-right: 5vw;
    padding-left: 5vw;
    padding-top: 2vw;
}

footer {
    background-color: rgb(253, 254, 255);
    display: flex;
    font-size: 18px;
    padding-top: 10px;
    padding-bottom: 10px;
    justify-content: space-around;
}

#toimintakehote {
    border: 2px solid rgb(0, 0, 0);
    border-radius: 30px;
    background-color: #DCE5ED;
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

#kartta {
    padding: 20px;
    max-width: 90%;
}

.alisivu-sisalto {
    margin: 0% 8% 3% 8%;
    flex-direction: column;
    background-color: rgb(251, 255, 255);
    padding: 0px;
}

.kuva {
  /*   max-width: 400px; */
    vertical-align: middle;
    width: 100%;
}

/* Lisää tarvittaessa muita tyylejä */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9-kuvasuhde */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.galleria-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.grid-kuva {
    width: 100%; /* Täysi leveys */
    margin-bottom: 70px; /* Lisää tilaa kuvien välille */
}

.grid-kuva img {
    width: 100%;
    height: auto;
    border-radius: 30px;
}

.sisaltoa {
    margin: 0% 10% 3% 10%;
    flex-direction: column;
    background-color: rgb(251, 255, 255);
    padding: 3px;
}


/* tietokoneen ruudulle desktop*/
@media only screen and (min-width: 1025px) {
    #etusivu {
        background-image: url(kuvat/herkku.jpg);
        background-size: cover;
        height: 400px;
    }

    #slogan {
        font-size: 50px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 200px;
        padding-right: 200px;
    }

    footer {
        flex-direction: row;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: 15%;
    }
}

/* tablettikoko */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
    #etusivu {
        background-image: url(kuvat/herkku.jpg);
        background-size: cover;
        height: 400px;
    }

    #slogan {
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .grid-container {
        display: inline;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 30px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
    .galleria-container {
        grid-template-columns: repeat(1, 1fr); /* Yksi sarake mobiilissa */
    }
}

    /* mobiilikoko */
    @media screen and (max-width: 400px) {
        #etusivu {
            background-image: url(kuvat/herkku.jpg);
            background-size: cover;
            height: 400px;
        }

        #slogan {
            font-size: 20px;
            padding: 20px;
        }

        .grid-container {
            display: inline;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 30px;
        }

        footer {
            flex-direction: column;
            text-align: center;
        }

        .fa {
            padding: 10px;
            text-align: center;
            text-decoration: none;
            background-color: rgb(255, 227, 208);
            color: rgb(16, 4, 4);
        }
        .galleria-container {
            grid-template-columns: repeat(1, 1fr); /* Yksi sarake mobiilissa */
        }
        
    }
