@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    color: rgb(14, 27, 23);
    background-color: rgb(255, 190, 252);
    font-family: 'Roboto', sans-serif;
    margin: 10px 10px;
}

figure {
    border: 10px #232bffcc solid;
    padding: 10px;
    margin: auto;
    border-radius: 30px;
}

figcaption {
    background-color: cadetblue;
    color: white;
    font-style: italic;
    padding: 2px;
    text-align: center;
}

#vuorikuva {
    width: 100%;
    /*     max-width: 400px; */
}

.esittely {
    font-size: 20px;
    font-weight: bold;
}

header {

    text-align: center;
    padding-top: 10px;
    padding-bottom: 10px;
}

/* fontit uusi maanantaina koodattu SHIT ALT A */

h1 {
    font-size: 60px;
    text-shadow: 4px 4px black;
    color: azure;
}

nav a {
    background: rgb(90, 21, 21);
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
    text-decoration: none;
    display: inline-block;
    border: 2px solid rgb(90, 21, 21);
    border-radius: 10px;
    padding: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
}

nav a:hover {
    color: rgb(48, 34, 34);
    background-color: antiquewhite;
}

#valittu {
    color: rgb(21, 18, 18);
    background-color: blanchedalmond;
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    /* Kaksi saraketta */
    gap: 20px;
    padding-right: 10vw;
    padding-left: 10vw;
    padding-top: 2vw;
}

footer {
    background-color: aliceblue;
    display: flex;
    font-size: 18px;
    padding-top: 15px;
    padding-bottom: 15px;
    justify-content: space-around;

}

#toimintakehote {
    border: 2px solid rgb(48, 34, 34);
    border-radius: 30px;
    background-color: rgba(186, 183, 200, 0.618);
    padding: 16px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    margin: 4px 2px;
    cursor: pointer;
}

#kartta {
    padding: 20px;
    max-width: 90%;
}

.alisivu-sisalto {
    margin: 0% 10% 3% 10%;
    flex-direction: column;
    background-color: azure;
    padding: 3px;
}

.kuva {
  /*   max-width: 400px; */
    vertical-align: middle;
    width: 100%;
}

/* Lisää tarvittaessa muita tyylejä */
.video-container {
    position: relative;
    width: 100%;
    padding-bottom: 56.25%; /* 16:9-kuvasuhde */
    height: 0;
}

.video-container iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

.galleria-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    margin: 20px;
}

.grid-kuva {
    width: 100%; /* Täysi leveys */
    margin-bottom: 20px; /* Lisää tilaa kuvien välille */
}

.grid-kuva img {
    width: 100%;
    height: auto;
    border-radius: 10px;
}





/* tietokoneen ruudulle desktop*/
@media only screen and (min-width: 1025px) {
    #etusivu {
        background-image: url(kuvat/Herkkuja.jpg);
        background-size: cover;
        height: 400px;
    }

    #slogan {
        font-size: 50px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 200px;
        padding-right: 200px;
    }

    footer {
        flex-direction: row;
        text-align: left;
        position: fixed;
        bottom: 0;
        width: 100%;
        max-height: 15%;
    }
}

/* tablettikoko */
@media only screen and (min-width: 421px) and (max-width: 1024px) {
    #etusivu {
        background-image: url(kuvat/Herkkuja.jpg);
        background-size: cover;
        height: 400px;
    }

    #slogan {
        font-size: 40px;
        padding-top: 50px;
        padding-bottom: 20px;
        padding-left: 50px;
        padding-right: 50px;
    }

    .grid-container {
        display: inline;
        grid-template-columns: 1fr 1fr;
        gap: 20px;
        padding: 30px;
    }

    footer {
        flex-direction: column;
        text-align: center;
    }
    .galleria-container {
        grid-template-columns: repeat(1, 1fr); /* Yksi sarake mobiilissa */
    }
}

    /* mobiilikoko */
    @media screen and (max-width: 400px) {
        #etusivu {
            background-image: url(kuvat/Herkkuja.jpg);
            background-size: cover;
            height: 400px;
        }

        #slogan {
            font-size: 20px;
            padding: 20px;
        }

        .grid-container {
            display: inline;
            grid-template-columns: 1fr 1fr;
            gap: 20px;
            padding: 30px;
        }

        footer {
            flex-direction: column;
            text-align: center;
        }

        .fa {
            padding: 10px;
            text-align: center;
            text-decoration: none;
            background-color: rgb(255, 227, 208);
            color: rgb(16, 4, 4);
        }
        .galleria-container {
            grid-template-columns: repeat(1, 1fr); /* Yksi sarake mobiilissa */
        }
        
    }